*{
    margin: 0px;
    padding: 0px;
}
.container{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-Style{
      height: 40px;
      width: 400px;
      border-radius: 50px 50px 50px 50px;
      border: 2px solid black;
      padding-left: 23px;
      font-size: 15px;

     
}
.primary-btn{
 
    height: 45px;
    width: 100px;
    margin-left: 15px;
    /* border: 2px solid black; */
    border-radius: 50px 50px 50px 50px;
    background-color: #114B5F;
    color: aliceblue;
    font-size: 16px;
    font-weight: bold;
    
  /* border-radius: 3px; */
}
.primary-btn:hover{
    background-color: #472731;
}
.main-container{
    margin-top: 25px;
    height: 35px;
    border: 2px solid #282130;
}