body{
    background-color:#FAF3DD;
}
/* .heading{
    text-align: center;
    margin-top: 25px;
   
} */
h1{ text-align: center;
    margin-left: 40%;
    margin-top: 50px;
    width: max-content;
    position: relative;
    cursor: pointer;
}
h1::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
  height: 3px;
  width: 0%;
  background-color: rgb(62, 75, 62);
    /* transform: 0%; */
    transition: all ease 1s;
}
h1:hover::after{
    width: 100%;

}


